.sortbox {
    border-left: 2px solid #d3d3d3;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 0 0 0 5px;
    clear: both;
}
.sortbox p.head { color: gray; font-weight: bold; margin: 5px 0 0 0}
.sortbox ul { list-style: none; margin: 0; padding: 0 }
.sortbox a {text-decoration: none; color: #336699}
.sortbox a:visited { color: #336699 }
.sortbox a:hover { text-decoration: underline }


.btn {background-color:#e9e9e9; border: 1px solid #336699; margin: -1px 3px -1px 3px; vertical-align: bottom, font-size: small; }

input.btn {background-color:#e9e9e9; border: 1px solid #336699;}


.right { width: 80px; float: right;;}

a.bylink { color: #848484; margin: 0px 1px 0px 2px; padding: 0px 2px 0 2px; text-decoration: none }

.arrow {
    margin: 2px 0px 0px 0px;
    width: 15px;
    height: 14px;
    display: block;
    cursor: pointer;
}

.arrow.upmod { background: url(http://s3.amazonaws.com/reddit/aupmod.png); background-repeat: no-repeat }
.arrow.downmod { background: url(http://s3.amazonaws.com/reddit/adownmod.png); background-repeat: no-repeat }
.arrow.up { background: url(http://s3.amazonaws.com/reddit/aupgray.png); background-repeat: no-repeat }
.arrow.down { background: url(http://s3.amazonaws.com/reddit/adowngray.png); background-repeat: no-repeat }

.collapseinline { padding-left: 12px } 
.collapseinline.r { background: url(/static/bluer.png); background-repeat: no-repeat }
.collapseinline.d { background: url(/static/blued.png); background-repeat: no-repeat }


.commentbody blockquote { border-left: 2px solid #336699; padding-left: 4px; margin: 5px 5px 5px 15px  }
.commentbody p,
.commentbody ul,
.commentbody ol { margin-top: 0px; margin-bottom: 0px}
.commentbody > * { margin-bottom: 0px }
.commentbody img { display: none }


.little {font-size: x-small; color: gray;}
.little a {text-decoration: none;}
.little a.friend {color: orangered }
.little a:hover { text-decoration: underline }
.little .gray { color: gray }


#cover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: .7;
	filter: alpha(opacity=70);
    z-index: 5000;
}

#loginpopup {
    position: absolute;
    background-color: white;
    top: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 10000;
    padding: 10px;
}

