*.pyc
*.pyo
*~
*.html.py
*.so
*.o
*.orig
*.tmp
*.md5
*.*.py
.*.sw?
.\#*
\#*.*\#
.hg
.hgignore
lighttpd.**
development.ini
development_*.ini
staging.ini
production.ini
*.update
r2/r2/public/static/names.json
r2/r2/public/static/*.js
r2/r2/public/static/*.css
r2/r2/**/defunct/**
r2/r2/**/**/defunct/**
r2/r2admin
r2/reddit_i18n
r2/data/*
r2/count.pickle
r2/srcount.pickle
r2/myproduction.ini
.DS_Store
r2/r2.egg-info/**
r2/r2/public/static/sprite*.png
r2/r2/public/static/*.gz
r2/r2/public/static/js/lib/*.gz
r2/r2/lib/_normalized_hot.c
r2/r2/lib/mr_tools/_mr_tools.c
r2/r2/lib/db/_sorts.c
r2/r2/lib/rand_strings.py
r2/r2/lib/sgm.c
r2/r2/lib/utils/_utils.c
r2/r2/lib/wrapped.c
r2/r2/models/_builder.c
build/
