*.pyc
*.pyo
*~
*.html.py
*.so
*.o
*.orig
*.tmp
*.md5
*.*.py
.\#*
\#*.*\#
.hg
.hgignore
lighttpd.**
development.ini
development_*.ini
staging.ini
production.ini
*.update
r2/r2/public/static/*.js
r2/r2/public/static/*.css
r2/r2/**/defunct/**
r2/r2/**/**/defunct/**
r2/r2admin
r2/reddit_i18n
r2/data/*
r2/count.pickle
r2/srcount.pickle
r2/myproduction.ini
.DS_Store
r2/r2.egg-info/**
r2/r2/public/static/sprite.png
