
// copied from mixins.less
.hdpi-bg-image(@1x; @2x; @2x-bg-size: 100%; @bg-repeat: no-repeat) {
    background-image: @1x;
    background-repeat: @bg-repeat;

    @media
    only screen and (min-resolution: 2dppx),
    only screen and (-webkit-min-device-pixel-ratio: 2) {
        background-image: @2x;
        background-size: @2x-bg-size;
    }
}

.thing .entry .expando-button {
    background-color: transparent;
    cursor: pointer;
    height: 20px;
    margin: 4px 8px 4px 0;
    transition: background-image 0.1s;
    width: 20px;

    &, &:hover {
        background-position: 0 0;
    }

    &.expanded {
        .hdpi-bg-image(
            @1x: url('../icon-contract.png'),
            @2x: url('../icon-contract_2x.png'));
    }

    &.expanded:hover {
        .hdpi-bg-image(
            @1x: url('../icon-contract-hover.png'),
            @2x: url('../icon-contract-hover_2x.png'));
    }

    &.collapsed {
        .hdpi-bg-image(
            @1x: url('../icon-expand.png'),
            @2x: url('../icon-expand_2x.png'));
    }

    &.collapsed:hover {
        .hdpi-bg-image(
            @1x: url('../icon-expand-hover.png'),
            @2x: url('../icon-expand-hover_2x.png'));
    }
}
