.toolbar .middle-side input[type=text] {
    border: none;
    height: 17px;
}

/* IE7 doesn't understand inline-block */
.entry .flat-list.buttons li { display: inline; }
.pretty-button { display: inline; }

.entry.unvoted .score.unvoted { display: inline;  }
.entry.unvoted div.score.unvoted { display: inline;  }

/* Award name font is too big in IE */
.award-square .award-name {
  font-size:18px;
}

.message .midcol { 
    width: 15px; 
}

.tabmenu {
    display: inline;
    zoom: 1;
}

#mail {
    top: 0;
}

#header-img.default-header {
	display: block;
	float: left;
}

#header-bottom-left .tabmenu {
	position: absolute;
	bottom: -1px;
}

#header-bottom-right {
	clear: both;
}

.gilded-comment-icon {
    background: url(gold-coin.png) no-repeat;
    padding-left: 15px;
    height: 14px;
}

.user-gilded > .entry .gilded-comment-icon {
    padding-left: 25px;
}
