.shirt { 
    margin-left: 30px; 
 }
.shirt p { 
    font-family: arial;
    font-size: larger; 
    color: #111;
}
.shirt h2 {
    font-family: arial;
    color:gray;
    font-size:x-large;
    font-weight:normal;
 }
.shirt .shirt-container { margin: 10px; }
.shirt .shirt-container .left { 
    border: 1px solid #5f99cf; 
    background-color: #EFF7FF;
    margin-top: 10px; 
    float:left;
}
.shirt .shirt-container .left h4 { 
    color: #336699;
    margin: 2px;
}
.shirt .shirt-container .left input[type=submit] { 
    background-color: #5f99cf;
    width: 95px;
    color: white;
    text-transform: uppercase; 
    font-size: larger; 
    font-weight: bold;
    border-width: 1px; 
    border-color: black black black black; 
}
.shirt .shirt-container .left input[type=radio] { 
    margin: 0 2px; 
    vertical-align: bottom; 
}
.shirt .shirt-container .left input[type=text] { 
    border: 1px solid #AAA;
    margin: 5px; 
}

.shirt select { margin-left: 5px; }

.shirt .shirt-container .main.white.men {
    background-image: url(/static/spreadshirt/white.png);
}
.shirt .shirt-container .main.heather.men {
    background-image: url(/static/spreadshirt/heather.png);
}
.shirt .shirt-container .main.navy.men {
    background-image: url(/static/spreadshirt/navy.png);
}
.shirt .shirt-container .main.black.men {
    background-image: url(/static/spreadshirt/black.png);
}
.shirt .shirt-container .main.red.men {
    background-image: url(/static/spreadshirt/red.png);
}
.shirt .shirt-container .main.white.women {
    background-image: url(/static/spreadshirt/white-womens.png);
}
.shirt .shirt-container .main.navy.women {
    background-image: url(/static/spreadshirt/navy-womens.png);
}
.shirt .shirt-container .main.heather.women {
    background-image: url(/static/spreadshirt/heather-womens.png);
}
.shirt .shirt-container .main.black.women {
    background-image: url(/static/spreadshirt/black-womens.png);
}
.shirt .shirt-container .main.red.women {
    background-image: url(/static/spreadshirt/red-womens.png);
}

.shirt .shirt-container .main.black .caption #layout,
.shirt .shirt-container .main.black .caption .byline,
.shirt .shirt-container .main.navy .caption #layout,
.shirt .shirt-container .main.navy .caption .byline,
.shirt .shirt-container .main.red .caption #layout,
.shirt .shirt-container .main.red .caption .byline
 {
    color: white; 
 }



.shirt .shirt-container .main { 
    background-image: url(/static/spreadshirt/white.png);
    background-repeat: no-repeat;
    background-position: center center; 
    border: 1px solid #5f99cf; 
    width: 450px;
    height: 350px;
    margin-left: 96px; 
    position: relative; 
    margin-bottom: 75px;
 }

.shirt .shirt-container .main .caption {
    width: 160px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto; 
    font-family: verdana; 
    font-size: 9px;
    text-align: left;
}
.shirt .shirt-container .main .caption #layout {
    padding-left: 17px; 
    background-image: url(/static/spreadshirt/spreadshirt-arrows.png);
    background-repeat: no-repeat;
    background-position: top left; 
    min-height: 30px; 
}
.shirt .shirt-container .main.navy  .caption #layout,
.shirt .shirt-container .main.black .caption #layout { 
    background-image:url(/static/spreadshirt/spreadshirt-arrows-white.png);
}
.shirt .shirt-container .main.red   .caption #layout {
    background-image:url(/static/spreadshirt/spreadshirt-arrows-red.png);
}


.shirt .shirt-container .main .caption .byline { 
    margin-top: 5px; 
    border: none; 
    text-align: right;
    font-weight: bold;
    font-size: 4pt;
    margin-left: 12px; 
    padding-bottom: 20px;
    background-image: url(/static/spreadshirt/spreadshirt-header.png);
    background-repeat: no-repeat;
    background-position: bottom left; 
}
.shirt .shirt-container .main.navy  .caption .byline,
.shirt .shirt-container .main.black .caption .byline { 
    background-image:url(/static/spreadshirt/spreadshirt-header-white.png);
}
.shirt .shirt-container .main.red   .caption .byline {
    background-image:url(/static/spreadshirt/spreadshirt-header-red.png);
}

.shirt .shirt-container .main .caption.big {
    font-family: verdana;
    width: 340px;
    padding: 10px;
    border: 3px solid #369;
    font-size: 20px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 45px;
    margin: 0px; 
}

.shirt .shirt-container .main .caption.big .byline {
    font-size: x-small;
    background: none; 
    color: black; 
}

