/* !universal styles */
.button {
  background-color: #b3d9ff;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cce5ff), to(#99ccff));
  background: -moz-linear-gradient(top, #cce5ff, #99ccff);
  /* 			Gradient soup is for cross-browser */
  border: 1px solid #5e98cf;
  font-size: 16px;
  color: black;
  padding: 5px;
  float: right;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .button:active {
    background-color: #99ccff;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#cce5ff), to(#99ccff));
    background: -moz-linear-gradient(bottom, #cce5ff, #99ccff); }

/* !Landing page */
.redditad-header {
  margin-top: none; }

.column-container {
  width: 960px;
  margin: 0 auto; }

.center-col-1, .center-col-2 {
  margin: 0 20px; }

.center-col-2 {
  margin-left: 0px; }

.column {
  width: 220px;
  float: left;
  position: relative; }
  .column.shown {
    margin: 0px; }
  .column .image {
    width: 220px;
    height: 128px;
    border: 1px solid #5e98cf; }
  .column .col-expando {
    width: 708px;
    padding: 10px;
    background: #f0f7ff;
    height: 100%;
    position: absolute;
    left: 230px;
    top: 0px;
    z-index: 10;
    border: 1px solid #5e98cf;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box; }
    .column .col-expando .col-expando-header {
      margin: 0px;
      text-align: center; }
    .column .col-expando .col-expando-close {
      position: absolute;
      top: 1px;
      left: 1px;
      line-height: 13px; }
    .column .col-expando .col-expando-tri-border {
      border-color: transparent #5e98cf transparent transparent;
      border-width: 15px;
      border-style: solid;
      height: 0px;
      width: 0px;
      position: absolute;
      top: 140px;
      left: -30px; }
    .column .col-expando .col-expando-tri-body {
      border-color: transparent #f0f7ff transparent transparent;
      border-width: 15px;
      border-style: solid;
      height: 0px;
      width: 0px;
      position: absolute;
      top: 140px;
      left: -28px; }
  .column .col-trigger ul {
    list-style-type: disc;
    margin-left: 20px; }

.col-bottom-box {
  background: #f0f7ff;
  border: 1px solid #5e98cf;
  padding: 10px;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .col-bottom-box .bottom-box-title {
    font-size: 1.7em;
    font-weight: bold; }
  .col-bottom-box .ad-launch-buttons {
    float: right;
    padding-left: 10px; }
    .col-bottom-box .ad-launch-buttons .manage-ads {
      font-size: 12px;
      display: block; }

#testimonial-parent .testimonial-title {
  font-weight: bold;
  font-size: 1.7em;
  margin-bottom: 1em; }
#testimonial-parent .testimonial {
  font-style: italic;
  font-size: 2em;
  font-family: Georgia, Times New Roman, Times, serif;
  text-align: center; }
  #testimonial-parent .testimonial q::before {
    content: "\201c"; }
  #testimonial-parent .testimonial q::after {
    content: "\201d"; }
  #testimonial-parent .testimonial cite {
    font-size: .8em;
    display: block;
    text-align: right; }
