## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2009
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%!
   from r2.lib.template_helpers import get_domain, static
   from r2.lib.tracking import AdframeInfo
   import random
 %>

%if c.site.ad_type == "custom" or c.site.ad_file != c.site._defaults.get("ad_file"):
   <iframe id="ad-frame" frameborder="0" scrolling="no" name="ad-frame"
           src="${c.site.ad_file}">
   </iframe>
%elif c.site.ad_type == "basic":
   <% name = c.site.name if not c.default_sr else '' %>
   <iframe id="ad-frame" frameborder="0" scrolling="no" name="ad-frame"
           src="/ads/${name}">
   </iframe>
%else:
   <iframe id="ad-frame" frameborder="0" scrolling="no" name="ad-frame"
           src="/ads/">
   </iframe>
%endif
<script type="text/javascript">
    <% 
      tracker_url = AdframeInfo.gen_url(fullname = "adblock", ip = request.ip)
     %>
    $(function() {
      var ad = $("#ad-frame");
      if(ad.height() == 0 || ad.width() == 0) {
        $(".footer").append("<img alt='' src='${unsafe(tracker_url)}&random=" +
                                    Math.random()*10000000000000000 + "'/>");
      }
    });
</script>
