## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%namespace module="r2.lib.template_helpers" import="dockletStr"/>

<% from r2.lib.template_helpers import static %>

<div class="instructions">
  <script type="text/javascript">
    function dragme() {window.alert("drag this link to your bookmark bar")};function favme() {window.alert('right-click this link and choose "Add to Favorites"')}
  </script>
  <h1>
    ${_("install the %(site)s bookmarklet set") % dict(site=c.site.name)}
  </h1>
  <p>${_("once added to your bookmark bar, you can click these buttons from any site to get quick access to reddit functionality.")}</p>
  <h2>${_("in Firefox")}</h2>
  <p>
    ${_("click and drag")}&nbsp;
    %for type in thing.buttons:
    <a style="padding: 0 3px 0 3px" href="${dockletStr(type, 'firefox')}" onclick="dragme(); return false">
      <span class="bookmarklet">${type}</span>&nbsp;
    </a>
    %endfor
    ${_("to your bookmark bar.")}
  </p>
  <p>
    <img border="0" src="${static('firefox.png')}" alt="firefox screenshot" />
  </p>
  <p>
    See also our Firefox add-on, &#32;<a href="/socialite">Socialite</a>.
  </p>
  <h2>${_("in Internet Explorer")}</h2>
  <p>
    ${_("right-click on")}&nbsp;
    %for type in thing.buttons:
    <a style="padding: 0 3px 0 3px" href="${dockletStr(type, 'ie')|}" onclick="favme(); return false">
      <span class="bookmarklet">${type}</span>&nbsp;
    </a>
    %endfor
    ${_('then choose "Add to Favorites" and add to the "Links" folder.')}
  </p>
  <p>
    <img border="0" src="${static('ie.png')}" alt="ie screenshot" />
  </p>
  <h2>${_("in Safari")}</h2>
  <p>
    ${_("click and drag")}&nbsp;
    %for type in thing.buttons:
    <a style="padding: 0 3px 0 3px" href="${dockletStr(type, 'safari')}" onclick="dragme(); return false">
      <span class="bookmarklet">${type}</span>&nbsp;
    </a>
    %endfor
    ${_("to your bookmark bar.")}
  </p>
  <p>
    <img border="0" src="${static('safari.png')}" alt="safari screenshot"/>
  </p>
  <p style="color: #FF4500">
    ${_("voila! now you have all the functionality of %(site)s in your toolbar.") % dict(site=c.site.name)}
  </p>
</div>
