## "The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%! from r2.lib.template_helpers import static %>

<%namespace file="utils.html" import="error_field"/>
${captchagen(thing.iden, thing.error)}

<%def name="captchagen(iden, error='', tabulate=False, size=60, label=True)">
%if tabulate:
<table>
%endif
  <tr>
    <td></td>
    <td>
      <img id="capimage" 
           alt="i wonder if these things even work" 
           %if iden:
           src="/captcha/${iden}.png" 
           %else:
           src="${static('kill.png')}" 
           %endif
           /></td>
  </tr>
  <tr>
     <td align="right">
       %if label:
         <label>${_("human?")}</label>
       %endif
     </td>
     <td>
        <input id="capiden" name="iden" type="hidden" value="${iden}"></input>
        <input id="captcha" name="captcha" type="text" size="${size}" 
               onfocus="clearTitle(this)"/>
        <script type="text/javascript">
          setMessage($('captcha'), '${_("type the letters from the image above")}');
        </script>
     </td><td>
      ${error_field("BAD_CAPTCHA", "span")}
      </td>
  </tr>
%if tabulate:
</table>
%endif
</%def>
