## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%inherit file="printable.html"/>
<%namespace file="utils.html" import="plain_link" />

<%def name="midcol(display=True, cls = '')">
  %if c.profilepage or (not thing._deleted and  (not thing._spam or thing.is_author or c.user_is_admin)):
    ${parent.midcol(display=display, cls = cls)}
  %endif
</%def>

<%def name="tagline(collapse=False)">
</%def>

<%def name="collapsed()">
${self.tagline(True)}
</%def>

<%def name="commentBody()">
  ${thing.usertext}
</%def>


<%def name="entry()">
<%
   from r2.lib.strings import strings
   collapse = thing.collapsed
%>

<div class="collapsed" ${(not collapse and "style='display:none'" or "")}>
  ${self.collapsed()}
</div>
<div class="noncollapsed" ${(collapse and "style='display:none'" or "")}>
  <p class="tagline">
    ${self.tagline()}
%if not getattr(thing, "votable", True):
    <div class="unvotable-message">${strings.unvotable_message}</div>
%endif
  </p>
  ${self.commentBody()}
  <ul class="flat-list buttons">
    ${self.buttons()}
  </ul>
</div>
</%def>
