<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title></title>
    <style type="text/css">
    </style>
  </head>
  <body style="padding: 0; margin: 0;">
    <script>
      document.write(unescape("%3Cscript src='" + (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js' %3E%3C/script%3E"));
    </script>
    <script>
      COMSCORE.beacon({
        c1:2,
        c2:6035094,
        c3:"",
        c4:"",
        c5:"",
        c6:"",
        c7:(encodeURIComponent || escape)(parent.location.href),
        c15:"",
        rn: Math.random()
      });
    </script>
    <noscript>
      <img src="http://b.scorecardresearch.com/p?c1=2&c2=6035094&c3=&c4=&c5=&c6=&c15=&cj=1" />
    </noscript>
  </body>
</html>
