## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2014
## reddit Inc. All Rights Reserved.
###############################################################################

<%namespace file="utils/gold.html" import="gold_dropdown"/>

<div class="gold-wrap">
  <h1 class="gold-banner"><a href="/creddits">${_('creddits')}</a></h1>

  <div class="fancy">
    <div class="fancy-inner">
      <div class="fancy-content gold-creddits">
        <form name="creddits-form" class="creddits-form" action="/gold" method="get">
          <input type="hidden" name="goldtype" value="creddits">
          <div id="form-options" class="container">
            <section class="creddits-amount">
              <label>
                <h3>${_('How many creddits would you like to buy?')}</h3>
                ${gold_dropdown("creddits", 12)}<br>
              </label>
            </section>
          </div>
          <div class="buttons">
            <button type="submit" class="btn gold-button">${_("buy creddits")}</button>
            <span class="status"></span>
          </div>
        </form>

        <section class="gold-question">
          <h3 class="toggle">${_('What are creddits?')}</h3>
          <div class="details hidden">
            <div class="container">
              ${_('Each creddit you have can be converted into one month of reddit gold. Stored as a balance on your account, creddits allow you to give gold without having to enter payment information.')}
              &#32;
              <a href="/gilding">${_('Learn more about using creddits')}</a>.
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
