## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.lib.pages import Feedback
   import random
 %>

<div class="feedback instructions">
  <h1>Request Help</h1>

  <p>
    reddit is a community, and as such there are a lot of outlets to get help for what ails you.
  </p>

  <dl>
    <dt>Making a press inquiry?</dt>
    <dd><a href="/wiki/press">Get our press contact details</a>.</dd>
    <dt>Are your submissions not showing up?  Subreddit marked as spam?  Is the spam filter acting up?</dt>
    <dd>
      &#32;<a href="/message/compose?to=${g.admin_message_acct|u}">Send a private message to the admins.</a>&#32;(We really do want to help)
    </dd>
    <dt>Got a feature request?</dt>
    <dd><a href="/r/ideasfortheadmins">Post it to our development community so the admins can see it</a>.</dd>
    <dt>Got a bug report?</dt>
    <dd><a href="/r/bugs/">Check /r/bugs for other people with the same problem, or submit your own bug report.</a></dd>
    <dt>Are you a new moderator?  Having trouble staying out of the fray? Need advice?</dt>
    <dd><a href="/r/modhelp">There's a subreddit for that</a>.</dd>
    <dt>Want to advertise but don't know how?</dt>
    <dd><a href="/ad_inq">The instructions are here</a>.</dd>
    <dt>General questions?  Need help?</dt>
    <dd><a href="/r/help">There's a subreddit for that, too</a>.</dd>
    <dt>Frustrated? Need a break?</dt>
    <% r = random.randint(0,2) %>
    %if r == 0:
      <dd><a href="/r/aww+cats+catpictures+bagcat+kitties+awww+kittens+catfort">Here's some pictures of kitties.</a></dd>
    %elif r == 1:
      <dd><a href="/r/earthporn">How about some soothing nature photos?</a></dd>
    %elif r == 2:
      <dd><a href="/r/happy+upliftingnews">Happiness is contagious.</a></dd>
    %endif
  </dl>
<p>
  Or, if none of these solve your problem,&#32;
  <a href="#" onclick="$('#feedback-form').slideDown(function(){$(this).find('input[type=text]:first').focus();}); return false;">
    send a message to our feedback.
  </a> 
</p>

  <div id="feedback-form" style="display:none">
    ${Feedback(title=_("send reddit feedback"), action = "feedback")}
  </div>
</div>
