## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2009
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%! 
   from r2.lib.template_helpers import static, get_domain
%>

<%inherit file="reddit.html"/>
<%namespace file="utils.html" import="plain_link, logout"/>
<%namespace file="printable.html" import="state_button, comment_button, thing_css_class" />

<%def name="bodyHTML()">
<body>
  <% fullname = thing.link._fullname %>
  <% upstyle = "mod" if thing.link.likes else "" %>
  <% downstyle = "mod" if thing.link.likes is False else "" %>
  <table class="${thing_css_class(thing.link)} toolbar" width="100%">
    <script type="text/javascript">
      function kill(uh) {
          $("#main").hide();
          $("#killed").show();
          $.request('noframe');
      }
      
      function unkill() {
          $("#killed").hide();
          $("#main").show();
          $.request('frame');
      }
      
    </script>
    <tr id="killed" style="display: none" class="menu">
      <td nowrap="nowrap"> 
        after reloading, this frame will not be shown again. click 
        &#32;<a href="javascript:unkill()"> here</a>&#32;to undo.</td>
      <td width="100%" />
    </tr>
    <tr id="main">
      <td id="frame-left">
        <a target="_top" href="http://${get_domain(cname = c.cname)}/">
          <img style="border: none" src="${static('littlehead.png')}" 
               alt="reddit.com" title="reddit.com" />
        </a>
        <a id="up_${fullname}" class="arrow up${upstyle}" 
           %if c.user_is_loggedin:
              href="javascript:void(0);"
              onclick="$(this).vote()"
           %else:
              href="/login"
              target="_top"
           %endif
           >
          ${_("like")}
        </a>
        <a id="down_${fullname}" class="arrow down${downstyle}" 
           %if c.user_is_loggedin:
              href="javascript:void(0);"
              onclick="$(this).vote()"
           %else:
              href="/login"
              target="_top"
           %endif
           >
          ${_("dislike")}
        </a>
        %if c.user_is_loggedin:
          %if thing.link.saved:
            ${state_button("unsave", _("unsave"), 
              "return change_state(this, 'unsave');", _("unsaved"))}
          %else:
            ${state_button("save", _("save"), 
              "return change_state(this, 'save');", _("saved"))}
          %endif
        %endif
        <% 
           if not thing.link.num_comments:
               # generates "comment" the imperative verb
               com_label = _("comment {verb}")
           else:
               # generates "XX comments" as a noun
               com_label = ungettext("comment", "comments", thing.link.num_comments)
         %>
        <span>
        ${comment_button("comment", com_label,
                         thing.link.num_comments,
                         thing.link.permalink)} 
        </span>
        </td>
      <td id="frame-middle" nowrap="nowrap" style="display: none">
      </td>
      <td id="frame-right" class="menu" nowrap="nowrap">
      %if c.user_is_loggedin:
        <a href="http://${get_domain(cname = c.cname)}/user/${c.user.name}" 
           target="_parent">${c.user.name}</a> (${c.user.safe_karma}) 
        ${logout()}
      %else:
        <a href="/login">${_("login")}</a>
        <a href="/login">${_("register")}</a>
      %endif
        <a target="_top" href="/help/">
          <img style="border: none" src="${static('help.png')}" 
               alt="help" title="help" />
        </a>&nbsp;
        <a target="_top" href="${thing.link.url}">
          <img style="border: none" 
               src="${static('breakout.png')}" 
               alt="open without frame" title="open without frame" />
        </a>&nbsp;
        <a href="javascript:kill()">
          <img style="cursor: pointer" 
               src="${static('kill.png')}" 
               alt="permanently close this frame" 
               title="permanently close this frame"  />
        </a>
      </td>
    </tr>
  </table>
</body>
</%def>
