## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2012
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.lib.pages.things import LinkButtons
   from r2.lib.pages import WrappedUser
%>

<%inherit file="link.html"/>
<%namespace file="printablebuttons.html" import="ynbutton" />
<%namespace file="utils.html" import="plain_link" />
<%namespace file="utils.html" import="pretty_button" />

<%def name="buttons(comments=True, delete=True, report=True, additional='')">
</%def>

<%def name="arrow(this, dir, mod)">
  <div class="arrow ${'up' if dir > 0 else 'down'}"
       onclick="$(this).thing().find('.arrow-msg').show()">
  </div>
</%def>

<%def name="entry()">
  <span class="we-need-help">
    ${_("reddit's spam filter needs your help!")}
  </span>

  ${parent.entry()}

  <div class="jury-box">
      <span class="how-to-classify">
        ${_("how would you classify this link?")}
      </span>

      <%
         pos_class = "positive"
         neg_class = "negative"

         if not hasattr(thing, "juryvote"):
           pass
         elif int(thing.juryvote) == 1:
           pos_class += " pressed"
         elif int(thing.juryvote) == -1:
           neg_class += " pressed"
      %>

      ${pretty_button(_("off-topic / spam"), "juryvote", -1, neg_class)}
      ${pretty_button(_("kosher"),           "juryvote",  1, pos_class)}

      <span class="thanks-for-voting">
        ${_("thanks for voting!")}

        <a href="/help/deputies">
          ${_("Click here for more info.").lower()}
        </a>
      </span>
      <div class="arrow-msg">
        ${_("those arrows are only for show; they don't actually do anything.")}
      </div>
  </div>

</%def>
