## "The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%namespace file="utils.html" import="error_field"/>

<form method="post" action="/login" onsubmit="return chklogin(this);" 
      class="login-form-side">
  <% op = "login-main" %>
  <input type="hidden" name="op" value="${op}" />
  <input name="user_login" 
         id="user-${op}" 
         type="text" maxlength="20"/>
  <input id="passwd-${op}" 
         name="passwd_login" 
         type="password" maxlength="20"/>

  ${error_field("WRONG_PASSWORD_" + op, "div")}
  <div id="status_${op}" class="error"></div>

  <div id="remember-me">
    <button class="btn" type="submit">${_("login")}</button>
    <input type="checkbox" name="rem" 
           id="rem-${op}" />
    <label for="rem-${op}">
      ${_("remember me")}</label>
    <a href="/password">${_("recover password")}</a>
    <div class="clear"></div>
  </div>
</form>

