## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.lib.filters import safemarkdown
   from r2.lib.pages.things import MessageButtons
   from r2.lib.pages import WrappedUser
%>
<%inherit file="comment_skeleton.html"/>
<%namespace file="utils.html" import="thing_timestamp" />

## disable voting arrows
<%def name="midcol(cls='')">
  %if thing.was_comment and not thing._spam:
    ${parent.midcol(display=True, cls = cls)}
  %else:
    <div class="midcol" style='display:none'></div>
  %endif
</%def>

<%def name="thing_css_class(what)" buffered="True">
${parent.thing_css_class(what)} ${"new" if thing.new else ""} ${"was-comment" if thing.was_comment else ""} ${"recipient" if thing.recipient else ""} ${"message-reply" if getattr(thing, "is_child", False) else ""} ${"message-parent" if getattr(thing, "is_parent", False) else ""} ${"focal" if getattr(thing, "focal", False) else ""}
</%def>

<%def name="tagline(collapse=False)">
     <a href="#" class="expand"
        %if collapse:
           onclick="return showcomment(this)">
         %else:
           onclick="return hidecomment(this)">
         %endif
         [${"+" if collapse else unsafe("&ndash;")}]&nbsp;
     </a>
  <span class="head">
  <%
   author = WrappedUser(thing.author, thing.attribs, thing).render()
   if thing.sr_id:
     subreddit = '<a href="%s">%s</a>' % (thing.subreddit.path,
                                          thing.subreddit.path)
     if not thing.dest:
       thing.dest = subreddit
     author = thing.updated_author.replace(' ', '&#32;') % dict(
       author=author,
       subreddit=subreddit)

   taglinetext = thing.taglinetext.replace(' ', '&#32;') % dict(
     when=capture(thing_timestamp, thing, thing.timesince),
     author=u"<b>%s</b>" % author,
     dest=u"<b>%s</b>" % thing.dest)
  %>
  ${unsafe(taglinetext)}
  </span>
  %if c.user_is_admin:
    ${self.admintagline()}
  %endif
</%def>

<%def name="subject()">
  <p class="subject">
    %if getattr(thing, "is_parent", False):
       %if thing.sr_id:
         <span class="correspondent reddit rounded">
           <a href="${thing.subreddit.path}message/moderator/inbox">
             /r/${thing.subreddit.name}
           </a>
         </span>
       %else:
         <span class="correspondent rounded">
           <%
              corr = thing.author if thing.recipient else thing.to
            %>
           ${WrappedUser(corr)}
         </span>
       %endif
    %endif
    ${thing.subject}
  %if thing.was_comment:
    <a href="${thing.link_permalink}" class="title">${thing.link_title}</a>
  %elif getattr(thing, "is_parent", False):
    <br/>
      <a class="expand-btn" href="#" onclick="return show_all_messages(this)">
        ${_("expand all")}
      </a>
      <a class="expand-btn" href="#"  onclick="return hide_all_messages(this)">
        ${_("collapse all")}
      </a>
  %endif
 </p>
</%def>

<%def name="ParentDiv()">
${self.subject()}
</%def>

<%def name="commentBody()">
 %if thing.was_comment and hasattr(thing, "parent"):
    <p>
      <a href="#" class="parent-link"
         onclick="return fetch_parent(this, '${thing.parent_permalink}/.json', '${thing.parent}')">
        ${_("show parent")}
      </a>
    </p>
 %endif
${unsafe(safemarkdown(thing.body))}
</%def>

<%def name="buttons()">
  ${MessageButtons(thing)}
</%def>

<%def name="entry()">
  ${parent.entry()}
</%def>
