## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2013
## reddit Inc. All Rights Reserved.
###############################################################################

<%namespace file="utils.html" import="timestamp, plain_link"/>

<%
    from pylons import c
    from r2.models.subreddit import ModSR, MultiReddit
    bgcolor = "rgb(255,255,255)"
    is_multi = isinstance(c.site, ModSR) or isinstance(c.site, MultiReddit)
    if is_multi and hasattr(thing, 'bgcolor'):
        bgcolor = 'rgb(%s,%s,%s)' % thing.bgcolor
 %> 

<tr class="modactions" style="background-color: ${bgcolor}" data-fullname="${thing.fullname}">
  <td class="timestamp whitespace:nowrap">${timestamp(thing.date)}&#32;ago</td>
  %if is_multi:
    <td class="subreddit">${plain_link('/r/' + thing.sr_name, thing.sr_path + 'about/log', title=thing.sr_name)}</td>
  %endif
  <td class="whitespace:nowrap">${thing.mod}</td>
  <td class="button">${thing.button}</td>
  <td class="description">${thing.text}&#32;
  %if hasattr(thing, 'target_text'):
    ${plain_link(thing.target_text, thing.target_path, title=thing.target_title,
                 sr_path=False, cname=False, _class="subreddit hover",
                 target='_blank' if c.user.pref_newwindow else '')}&#32;
  %elif hasattr(thing, 'target_wrapped_user'):
    ${thing.target_wrapped_user}&#32;
  %endif
  %if hasattr(thing, 'details') and thing.details:
    <em>(${thing.details})</em>
  %endif
  </td>
</tr>
