## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%!
   from r2.lib.strings import strings
   from r2.lib.pages import UserText
   from r2.lib.template_helpers import add_sr
%>

<%namespace file="utils.html" import="error_field, submit_form, plain_link, text_with_links"/>
<%namespace name="utils" file="utils.html"/>

<h1>${_("submit to reddit")}</h1>

<%utils:submit_form onsubmit="return post_form(this, 'submit', linkstatus, null, true)" 
                    action=${add_sr("/submit")},
                    _class="submit content",
                    _id="newlink">

${thing.formtabs_menu}
<div class="formtabs-content">

<div class="spacer">
    <div id="link-desc" class="infobar">${strings.submit_link}</div>
    <div id="text-desc" class="infobar">${strings.submit_text}</div>
</div>

<div class="spacer">
  <%utils:round_field title="${_('title')}" id="title-field">
    <textarea name="title" rows="2" cols="1" wrap="hard">${thing.title}</textarea>
    ${error_field("NO_TEXT", "title", "div")}
    ${error_field("TOO_LONG", "title", "div")}
  </%utils:round_field>
</div>

<div class="spacer">
  <%utils:round_field title="${_('url')}" id="url-field">
    <input name="kind" value="link" type="hidden"/>
    <input id="url" name="url" type="text" value="${thing.url}"/>
    ${error_field("NO_URL", "url", "div")}
    ${error_field("BAD_URL", "url", "div")}
    ${error_field("ALREADY_SUB", "url", "div")}
    <div>
      <button type="button" tabindex="100" onclick="fetch_title()">${_("suggest title")}</button>
      <span class="title-status"></span>
    </div>
  </%utils:round_field>
</div>

<div class="spacer">
  <%utils:round_field title="${_('text')}", description="${_('(optional)')}" id="text-field">
    <input name="kind" value="self" type="hidden"/>

    ${UserText(None, have_form = False, creating = True)}
  </%utils:round_field>
</div>

<div class="spacer">
  <%utils:round_field title="${_('reddit')}" id="reddit-field">
    <div id="sr-autocomplete-area">
      <input id="sr-autocomplete" name="sr" type="text"
             autocomplete="off"
             onkeyup="sr_name_up(event)"
             onkeydown="return sr_name_down(event)"
             onblur="hide_sr_name_list()"
             value = "${thing.default_sr}" />
      <ul id="sr-drop-down">
        <li class="sr-name-row"
            onmouseover="highlight_reddit(this)"
            onmousedown="return sr_dropdown_mdown(this)"
            onmouseup="sr_dropdown_mup(this)">nothin</li>
      </ul>
    </div>
    <script type="text/javascript">
      reddit.sr_cache = ${unsafe(thing.sr_searches)};
    </script>
    ${error_field("SUBREDDIT_NOEXIST", "sr", "div")}
    ${error_field("SUBREDDIT_NOTALLOWED", "sr", "div")}
    ${error_field("SUBREDDIT_REQUIRED", "sr", "div")}
    
    <div id="suggested-reddits">
        <span class="">${_("popular choices")}&#32;</span>
      <ul>
        %for name in thing.subreddits:
        <li>
          <a href="#" tabindex="100" onclick="set_sr_name(this); return false">${name}</a>&#32;
        </li>
        %endfor
      </ul>
    </div>
  </%utils:round_field>
</div>

${thing.captcha}
    
</div>

<div class="spacer">
  <button class="btn" name="submit" value="form" type="submit">${_("submit")}</button>
  <span class="status"></span>
  ${error_field("RATELIMIT", "ratelimit")}
</div>
</%utils:submit_form>

<script type="text/javascript">
  var form = $("#newlink");
  if(form.length) {
    var default_menu = form.find(".${thing.default_tab}:first");
    select_form_tab(default_menu, "${thing.default_show}", "${thing.default_hide}");
    }
</script>
