## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%namespace file="utils.html" import="error_field, success_field"/>
${success_field(_('you should receive an email shortly'),
                successful=thing.success, hide='passform')}

<form id="passform" action="/api/password" method="post"
      class="content pretty-form medium-text"
      onsubmit="return post_form(this, 'password');">
  <h1>${_("what's my password?")}</h1>
  <p> ${_("enter your user name below to receive your login information")}</p>
  <table>
    <tr>
      <td>
        <label for="name">${_("username")}</label>
      </td>
      <td>
        <input type="text" id="name" name="name" />
      </td>
      <td>
        <button type="submit" class="btn">${_("email me")}</button>
      </td>
    </tr>
    <tr>
     <td colspan="2">
        <span class="error" id="status"></span>
        ${error_field("USER_DOESNT_EXIST", "span")}
        ${error_field("NO_EMAIL_FOR_USER", "span")}
      </td>
    </tr>
  </table>
</form>

