## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%namespace file="utils.html" import="error_field"/>
<%namespace name="utils" file="utils.html"/>

<% import random %>
<%def name="areyousure(name)">
  <% yes, no = random.choice(((_("yes"), _("no")), (_("no"), _("yes")))) %>

  <div class="spacer">
    <%utils:round_field title="${_('are you sure?')}">
      <div class="rounded delete-field">
        <input name="${name}" id="${name}yes" type="radio" value="${yes}"/>
        <label for="${name}yes">${yes}</label>

        <br/>
  
        <input name="${name}" id="${name}no" type="radio" value="${no}"/>
        <label for="${name}no">${no}</label>
      </div>
    </%utils:round_field>
  </div>  
</%def>

<h1>${_("delete your reddit account? hope you have a good reason.")}</h1>

<form action="/post/delete" method="post" 
      onsubmit="${"return post_form(this, 'delete_user', function(x) {return '%s'})" % _("deleting...")}" id="pref-delete">

${areyousure("areyousure1")}
${areyousure("areyousure2")}
${areyousure("areyousure3")}

<input type="submit" class="btn" value="${_('delete')}"/>
<span class="status"></span>
</form>
