## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%! 
   from r2.lib.template_helpers import add_sr
   from r2.lib.strings import strings
%>

<%namespace file="utils.html" import="plain_link" />

${self.RenderPrintable()}

<%def name="admintagline()">
  %if thing.show_spam:
      <li><b>[
        %if c.user_is_admin:
          ${"auto" if thing.autobanned else ""}banned by ${thing.banner}
        %elif thing.moderator_banned and thing.banner:
          ${strings.banned_by % thing.banner}
        %else:
          ${_("banned")}
        %endif
      ]</li></b>
  %elif thing.show_reports:
      <li><b>[
        ${strings.reports % thing.reported}
      ]</b></li>
  %endif  
</%def>

<%def name="thing_css_class(what)" buffered="True">
thing id-${what._fullname}
</%def>

<%def name="RenderPrintable()">
<% cls = thing.lookups[0].__class__.__name__.lower() %>
<%
   if hasattr(thing, 'render_class'):
      cls = thing.render_class
   else:
      cls = thing.lookups[0].__class__
   cls = cls.__name__.lower()

   if thing.show_spam:
     rowclass = thing.rowstyle + " spam"
   elif thing.show_reports:
     rowclass = thing.rowstyle + " reported"
   else:
     rowclass = thing.rowstyle
   if hasattr(thing, "saved") and thing.saved:
     rowclass += " saved"
   if hasattr(thing, "hidden") and thing.hidden:
     rowclass += " hidden"
 %>
<div class="${self.thing_css_class(thing)} ${rowclass} ${cls}" $display>
  <p class="parent">
    ${self.ParentDiv()}
  </p>
  ${self.numcol()}
  ${self.midcol()}
  <div class="entry">
    ${self.entry()}
  </div>
  ${self.Child()}
  <div class="clearleft"><!--IE6sux--></div>
</div>
<div class="clearleft"><!--IE6sux--></div>
</%def>

<%def name="buttons(ban=True)">
%if thing.can_ban and ban:
  %if thing.show_spam:
    <li>
       ${self.state_button("unban", _("unban"), 
          "return change_state(this, 'unban');", _("unbanned"))}
    </li>
   %else:
    <li>
       ${self.state_button("ban", _("ban"), 
          "return change_state(this, 'ban');", _("banned"))}
    </li>
   %endif
  %if thing.show_reports:
    <li>
      ${self.state_button("ignore", _("ignore"), \
       "change_state(this, 'ignore');", _("ignored"))}
    </li>
  %endif
%endif
</%def>

<%def name="delete_or_report_buttons(delete=True, report=True)">
%if c.user_is_loggedin:
  %if (not thing.author or thing.author.name != c.user.name) and report:
    <li>
      ${ynbutton(_("report"), _("reported"), "report", "hide_thing")}
    </li>
  %endif
  %if (not thing.author or thing.author.name == c.user.name) and delete and not thing._deleted:
    <li>
      ${ynbutton(_("delete"), _("deleted"), "del", "hide_thing")}
    </li>
  %endif
%endif
</%def>


<%def name="ParentDiv()">
</%def>

<%def name="numcol()">
</%def>

<%def name="entry()">
</%def>

<%def name="Child(display=True, render_hook=True)">
<div class="child" ${(not display and "style='display:none'" or "")}>
  %if render_hook:
    $child
  %endif
</div>
</%def>

<%def name="author(friend = False, gray = False)" buffered="True">
  %if thing.deleted and not c.user_is_admin:
    [deleted]
  %else:
  %if thing.author._deleted:
    <span>[deleted]</span>
  %else:
    <%
       author = thing.author
       author_cls = "author"
       if friend:
          author_cls += " friend"
       elif gray:
          author_cls += " gray"
       name = websafe(author.name)
       href = unsafe('href="%s"' % add_sr("/user/%s/" % name, sr_path = False))
       if c.user_is_admin: name += " (%d)" % (author.link_karma)
    %>
    <a class="${author_cls}" ${href}>${name}</a>
   %endif
  %endif
  %if c.user_is_admin and hasattr(thing, 'ip') and thing.ip:
    <span class="ip" style="display: none;">${thing.ip}</span>
  %endif
</%def>


<%def name="arrow(this, dir, mod)">
<% 
   _type = "up" if dir > 0 else "down"
   _class = _type + ("mod" if mod else "")
   fullname = this._fullname
%>
  <div class="arrow ${_class}" 
       %if c.user_is_loggedin:
         onclick="$(this).vote('$votehash')"
       %else:
         onclick="showcover(true, 'vote_${fullname}')"
       %endif
       >
  </div>
</%def>

<%def name="score(this, likes=None, inline=True)">
<%
   tag = "span" if inline else "div"
   _class = "" if likes is None else "likes" if likes else "dislikes"

   # figure out alterna-points
   score = this.score
   base_score = score - 1 if likes else score if likes is None else score + 1
   base_score = [base_score + x for x in range(-1, 2)];
   
 %>
  <${tag} class="score ${_class}">
    ${thing.score_fmt(this.score)}
  </${tag}>
  <script type="text/javascript">
    if(reddit)
      reddit.vl['${this._fullname}'] = ['${thing.score_fmt(base_score[0])}',
                                        '${thing.score_fmt(base_score[1])}', 
                                        '${thing.score_fmt(base_score[2])}' ];
  </script>
</%def>


<%def name="midcol(display=True)">
  <div class="midcol" 
       ${not display and "style='display:none'" or ''}>
    ${self.arrow(thing, 1, thing.likes)}
    ${self.arrow(thing, 0, thing.likes == False)}
  </div>
</%def>

##
##
##
### originally in statebuttons
<%def name="state_button(name, title, onclick, executed, clicked=False, a_class = '', fmt=None, fmt_param = '', hidden_data = {})">
  <%def name="_link()" buffered="True">
    <a href="javascript:void()" 
       %if a_class:
         class="${a_class}" 
       %endif
       onclick="${onclick}">${title}</a>
  </%def>
  <%
     link = _link()
     if fmt:
         link = fmt % {fmt_param: link}
         ## preserve spaces before and after < & > for space compression
         link = link.replace(" <", "&#32;<").replace("> ", ">&#32;")
   %>   

  %if clicked:
    ${executed}
  %else:
    <form action="/post/${name}" method="post" 
          class="state-button ${name}-button">
        <input type="hidden" name="executed" value="${executed}" />
        %for key, value in hidden_data.iteritems():
          <input type="hidden" name="${key}" value="${value}" />
        %endfor
        <span>
          ${unsafe(link)}
        </span>
    </form>
  %endif
</%def>


<%def name="ynbutton(title, executed, op, callback = 'null', 
                     question = None,
                     format = '%(link)s',
                     format_arg = 'link',
                     hidden_data = {})">
  <%
     if question is None:
         question = _("are you sure?")
     link = ('<a href="#" onclick="return toggle(this)">'
             + title + '</a>')
     link = format % {format_arg : link}
     link = unsafe(link.replace(" <", "&#32;<").replace("> ", ">&#32;"))
   %>
  <form class="toggle ${op}-button" action="#" method="get">
    <input type="hidden" name="executed" value="${executed}"/>
    %for k, v in hidden_data.iteritems():
      <input type="hidden" name="${k}" value="${v}"/>
    %endfor
    <span class="option active">
      ${link}
    </span>
    <span class="option error">
      ${question}
      &#32;<a href="javascript:void(0)" class="yes"
         onclick='change_state(this, "${op}", ${callback})'>
        ${_("yes")}
      </a>&#32;/&#32;
      <a href="javascript:void(0)" class="no"
         onclick="return toggle(this)">${_("no")}</a>
    </span>
  </form>
</%def>

<%def name="simple_button(name, title, nameFunc)">
 <a class="" href="javascript:void(0)" 
    onclick="return ${nameFunc}(this)">${title}</a>
</%def>

<%def name="toggle_button(class_name, title, alt_title, 
                    callback, cancelback, 
                    css_class = '', alt_css_class = '',
                    reverse = False,
                    login_required = False)">
<%
   if reverse:
       callback, cancelback = cancelback, callback
       title, alt_title = alt_title, title
       css_class, alt_css_class = alt_css_class, css_class
 %>
<span class="${class_name} toggle">
 <a class="option active ${css_class}" href="#" 
    %if login_required and not c.user_is_loggedin:
      onclick="return showcover('', '${callback}_' + $(this).thing_id());"
    %else:
      onclick="return toggle(this, ${callback}, ${cancelback})"
    %endif
    >
   ${title}
 </a>
 <a class="option ${alt_css_class}" href="#">${alt_title}</a>
</span>
</%def>

<%def name="tags(**kw)">
  %for k, v in kw.iteritems():
    %if v is not None:
      ${k.strip('_')}="${v}" \
    %endif
  %endfor
</%def>


### originally in commentbutton
<%def name="comment_button(name, link_text, num, link,\
            a_class='', title='', newwindow = False)">
  <% 
     cls = "comments empty" if num == 0 else "comments"

     if num > 0:
         link_text = strings.number_label % (num, link_text)

     target = '_blank' if newwindow else '_parent'
  %>
  ${plain_link(link_text, link, 
               _class="%s %s" % (a_class, cls), title=title, target=target)}

</%def>

