## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2012
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
    from r2.lib.strings import strings
    from r2.lib.filters import safemarkdown
    from r2.lib.template_helpers import format_number, js_timestamp, html_datetime
%>

%if not thing.campaigns:
  <div id="promo-traffic-no-campaigns">
    ${unsafe(safemarkdown(_("No campaigns for this link. Would you like to [create one](%(url)s)?" %
      dict(url=thing.edit_url))))}
  </div>
%else:
  <table class="traffic-table promoted-traffic promocampaign-table">
    <thead>
      <th>${_("id")}</th>
      <th>${_("start")}</th>
      <th>${_("end")}</th>
      <th>${_("target")}</th>
      <th>${_("bid")}</th>
      <th>${_("impressions")}</th>
      <th>${_("cpm")}</th>
      <th>${_("clicks")}</th>
      <th>${_("ctr")}</th>
      <th>${_("cpc")}</th>
    </thead>
    %for camp in thing.campaigns:
        %if camp.is_live_now():
        <tr class='promo-traffic-live'>
        %else:
        <tr>
        %endif
          <td>
            ${camp._id36}
            %if camp.is_live_now():
            <span style='font-size:8pt;color:blue;'>${_("(live now)")}</span>
            %endif
          </td>
          <td>${camp.start_date.date()}</td>
          <td>${camp.end_date.date()}</td>
          <td>${camp.sr_name}</td>
          <td>$${"%d" % camp.bid}</td>
          <td>${format_number(camp.imps)}</td>
          %if camp.imps != 0:
          <td>$${"%.2f" % camp.cpm}</td>
          %else:
          <td>--</td>
          %endif
          <td>${format_number(camp.clicks)}</td>
          %if camp.clicks != 0:
          <td>${"%.2f" % camp.ctr}%</td>
          <td>$${"%.2f" % camp.cpc}</td>
          %else:
          <td>--</td>
          <td>--</td>
          %endif
        </tr>
    %endfor
    <tfoot>
    <tr>
      <td>
      Total
      %if thing.is_preliminary:
      * 
      %endif
      </td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>$${format_number(thing.total_spend)}</td>
      <td>${format_number(thing.total_imps)}</td>
      <td>$${"%.2f" % thing.total_cpm}</td>
      <td>${format_number(thing.total_clicks)}</td>
      <td>${"%.2f" % thing.total_ctr}%</td>
      <td>$${"%.2f" % thing.total_cpc}</td>
    </tr>
    </tfoot>
  </table>
  % if thing.is_preliminary:
  <p class="totals-are-preliminary">* ${_("totals are preliminary until 24 hours after the end of the promotion.")}</p>
  % endif
%endif

