## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2009
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%!
  from r2.lib.utils import to36
  from r2.lib.media import thumbnail_url
%>
<%namespace file="utils.html" import="error_field, checkbox, plain_link, image_upload" />
<%namespace file="printable.html" import="ynbutton"/>
<%namespace file="utils.html" import="error_field, checkbox, image_upload" />

%if thing.link:
  ${thing.listing}
%endif

<form class="pretty-form" method="POST" action="/post/new_promo"
      id="promo_form" 
      onsubmit="return post_form(this, 'edit_promo', null, null, true)">

  %if thing.link:
    <input type="hidden" name="link_id" value="${to36(thing.link._id)}"/>
  %endif

  <table class="preftable">
    <tr>
      <th><label for="title">${_("title")}</label></th>
      <td>
        <input name="title" type="text" value="${thing.link.title if thing.link else ""}" />
      </td>
      <td>
        ${error_field("NO_TITLE", "span")}
      </td>
    </tr>
    <tr>
      <th><label for="url">${_("url")}</label></th>
      <td>
        <input name="url" type="text" 
               value="${('self' if thing.link.is_self else thing.link.url) if thing.link else ""}"/>
      </td>
      <td>
        ${error_field("NO_URL", "span")}
        ${error_field("BAD_URL", "span")}
        ${error_field("ALREADY_SUB", "span")}
      </td>
    </tr>
    <tr>
      <th><label for="sr">${_("reddit")}</label></th>
      <td style="white-space: nowrap">
        %if thing.link:
          ${checkbox("subscribers_only",
                     (_("show only to subscribers of %(reddit)s")
                      % dict(reddit = thing.sr.name)),
                     thing.link.promoted_subscribersonly)}
          <input type="hidden" name="sr" value="${thing.sr.name}" />
        %else:
          <input type="text" name="sr" value="${g.default_sr}" /> <br />
          ${checkbox("subscribers_only",
                     _("show only to subscribers of this reddit"),
                     False)}
        %endif
      </td>
      <td>
        ${error_field("SUBREDDIT_NOEXIST")}
      </td>
    </tr>
    <tr>
      <th>${_("site options")}</th>
      <td>
        ${checkbox("disable_comments",
                   _("disable comments"),
                   thing.link.disable_comments if thing.link else False)} <br />
      </td>
      <td></td>
    </tr>
    <tr>
      <th><label for="timelimit">${_("duration")}</label></th>
      <td>
        %if thing.link and thing.link.promote_until:
          <input type="radio" name="expire" value="nomodify" checked="checked" />
            ${(_('expire in %(timedelta)s (%(expires_at)s)')
               % dict(timedelta = thing.timedeltatext,
                      expires_at = thing.link.promote_until.strftime(thing.datefmt)))} <br />
          <input type="radio" name="expire" value="expirein" />
            ${_("expire in")} &nbsp;
            <input name="timelimitlength" size="3" />
            <select name="timelimittype">
              <option value="hours">${_("hours")}</option>
              <option value="days" selected="selected">${_("days")}</option>
              <option value="weeks">${_("weeks")}</option>
            </select><br />
          <input type="radio" name="expire" value="cancel" />
            ${_("don't expire")} <br />
        %else:
          <input type="radio" name="expire" value="nomodify" checked="checked" />
            ${_("don't expire")} <br />
          <input type="radio" name="expire" value="expirein" />
            ${_("expire in")} &nbsp;
            <input name="timelimitlength" size="3" />
            <select name="timelimittype">
              <option value="hours">${_("hours")}</option>
              <option value="days" selected="selected">${_("days")}</option>
              <option value="weeks">${_("weeks")}</option>
            </select>
        %endif
      </td>
      <td>${error_field("BAD_NUMBER", "span")}</td>
    </tr>
  </table>
</form>

%if thing.link:
  <% thumb = None if not thing.link.has_thumbnail else thumbnail_url(thing.link) %>
<%call expr="image_upload('/api/link_thumb', thumb, tabular=True, label=_('thumbnail'))">
   <input type="hidden" name="link_id" value="${thing.link._fullname}" />
</%call>

%endif

<div class="save-button">
  <%
      if thing.link:
          name = "edit"
          text = _("save options")
      else:
          name = "create"
          text = _("create")
  %>
  <button name="${name}" class="btn" type="button"
         onclick="$('#promo_form').get(0).onsubmit()"
  >${text}</button>
  &#32;
  <span class="status error"></span>
  ${error_field("RATELIMIT", "span")}
</div>
