## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2014
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
  from r2.lib.media import thumbnail_url
  from r2.lib.template_helpers import static
  from r2.lib import promote
  from r2.lib.pages import UserText
  from r2.lib.strings import strings
  from r2.models import Account
  from r2.lib import js
  from r2.lib.filters import safemarkdown
  import simplejson

  from babel.numbers import format_currency, format_decimal
%>

<%namespace file="utils.html" 
            import="error_field, checkbox, image_upload" />
<%namespace name="utils" file="utils.html"/>

${unsafe(js.use('sponsored'))}

<%def name="javascript_setup()">
<script type="text/javascript">
  r.sponsored.init();
  r.sponsored.setup(${unsafe(simplejson.dumps(thing.inventory))},
                    ${simplejson.dumps(not thing.campaigns)},
                    ${simplejson.dumps(c.user_is_sponsor)});
  r.sponsored.setup_geotargeting(${unsafe(simplejson.dumps(thing.regions))},
                                 ${unsafe(simplejson.dumps(thing.metros))});
</script>
</%def>

## Create a datepicker for a form. min/maxDateSrc are the id of the
## element containing the min/max date - the '#' is added automatically
## here (as a workaround for babel message extraction not handling it
## properly if passed in when the function is called
<%def name="datepicker(name, value, minDateSrc = '', maxDateSrc ='', initfuncname = '', min_date_offset=0)">
  <div class="date-input">
    <input name="${name}"
           value="${value}" id="${name}" class="rounded styled-input" readonly="readonly" size="10" />
    <div id="datepicker-${name}" class="datepicker"></div>
    ${error_field("BAD_DATE", name, "div")}
    ${error_field("DATE_TOO_EARLY", name, "div")}
    ${error_field("DATE_TOO_LATE", name, "div")}
    <script type="text/javascript">
      ${initfuncname} = function() {
          attach_calendar("#${name}", "#${minDateSrc}", "#${maxDateSrc}",
                          ${caller.body()}, ${min_date_offset})
      };
    </script>
  </div>
</%def>


<div class="create-promotion">
  <h1>${_("edit promotion")}</h1>

  ${thing.listing}

  ${thing.infobar}

  <div class="create-promo">
    ${campaign_dashboard()}

    <div class="pretty-form" id="promo-form">
      <input type="hidden" name="link_id36" value="${thing.link._id36}">

      <%
         trusted = c.user_is_sponsor or c.user.trusted_sponsor
         editable = trusted or not promote.is_promoted(thing.link)
       %>

      <input name="kind" value="${'self' if thing.link.is_self else 'link'}" type="hidden">
      ${title_field(thing.link, editable=editable)}
      %if thing.link.is_self:
        ${text_field(thing.link.selftext)}
      %else:
        ${url_field(thing.link, editable=editable, enable_override=c.user_is_sponsor)}
      %endif
      ${error_field("NO_CHANGE_KIND", "kind", "div")}

      %if editable:
        ${image_field(thing.link)}
        ${commenting_field(thing.link)}

        %if trusted:
          ${media_field(thing.link)}
        %endif
      %endif

      <div class="save-button">
        ${error_field("RATELIMIT", "ratelimit")}
        &#32;
        <span class="status error"></span>
        ${error_field("RATELIMIT", "ratelimit")}
        <button name="save" class="btn fancybutton" type="button"
                onclick="return post_pseudo_form('#promo-form', 'edit_promo')">
          ${_("save options")}
        </button>
      </div>

    </div>
  </div>
  ${self.right_panel()}
</div>

${self.javascript_setup()}

<%def name="title_field(link, editable=False)">
  <%utils:line_field title="${_('title')}" id="title-field" css_class="rounded">
    <textarea name="title" rows="2" cols="1" 
              ${"disabled" if not editable else ""}
              wrap="hard" class="rounded">${link.title if link else ''}</textarea>
    ${error_field("NO_TEXT", "title", "div")}
    ${error_field("TOO_LONG", "title", "div")}
    <div class="help infotext rounded">
      <p>${_("A good title is important to the success of your campaign. reddit users are an intelligent, thoughtful group, and reward those who engage them.")}</p>
    </div>
  </%utils:line_field>
</%def>

<%def name="kind_selector(link_selected=True)">
  <%utils:line_field title="${_('post type')}" id="kind-selector" css_class="rounded">
    <div class="linefield-content">
      <input id="url_link" class="nomargin" 
             type="radio" value="link" name="kind"
             onclick="$('#text-field').hide(); $('#url-field').show()"
             ${"checked='checked'" if link_selected else ""}>
      <label for="url_link">${_("link")}</label>
      <input id="self_link" class="nomargin" 
             type="radio" value="self" name="kind"
             onclick="$('#url-field').hide(); $('#text-field').show()"
             ${"" if link_selected else "checked='checked'"}>
      <label for="self_link">${_("text")}</label>
    </div>
  </%utils:line_field>
</%def>

<%def name="url_field(link, editable=False, enable_override=False)">
  <%utils:line_field title="${_('url')}" id="url-field" css_class="rounded">
    <input id="url" name="url" type="text" 
           ${"disabled" if not editable else ""}
           value="${('self' if link.is_self else link.url) if link else ""}"
           class="rounded"/>
    ${error_field("NO_URL", "url", "div")}
    ${error_field("BAD_URL", "url", "div")}
    ${error_field("DOMAIN_BANNED", "url", "div")}
    <div class="help infotext rounded">
      <p>${_("Provide the URL of your ad. No redirects please!")}</p>
    </div>

    %if enable_override:
      <label style="display:block; text-align:right" for="domain">${_("Override display domain:")}</label>
      <input id="domain" name="domain" type="text" 
             %if link and getattr(link, "domain_override", False):
               value="${link.domain_override}" class="rounded"
             %else:
               class="gray rounded" value="optional"
             %endif
      />

      <div class="infotext rounded">
        <p>${_("Choose a different domain name to display on the site (the small grey text next to a link")}</p>
      </div>
    %endif
  </%utils:line_field>
</%def>

<%def name="text_field(text='', visible=True)">
  <%utils:line_field title="${_('text')}" id="text-field" css_class="rounded"
                     style="${('' if visible else 'display:none')}">
    ${UserText(None, text=text, textarea_class='rounded', have_form=False, creating=True)}
  </%utils:line_field>
</%def>

<%def name="image_field(link)">
  <%utils:line_field title="${_('look and feel')}"
                     description="${_('images will be resized if larger than 70 x 70 pixels')}"
                     css_class="rounded">
    <div class="delete-field">
      <%utils:image_upload post_target="/api/link_thumb" 
                           current_image="${getattr(link, 'thumbnail_url', '')}"
                           label="${_('upload header image:')}"
                           ask_type="True">
        <input type="hidden" name="link_name" value="${link._fullname}" />

        ## overwrite the completed image function
        <script type="text/javascript">
          completedUploadImage = (function(cu) {
            return function(status, img_src, name, errors) {
              cu(status, "", "", errors);
              $.things('${link._fullname}').find(".thumbnail img")
                .attr("src", img_src + "?v=" + Math.random());
            }
          })(completedUploadImage);
        </script>

      </%utils:image_upload>
      <div class="clearleft"></div>
    </div>
  </%utils:line_field>
</%def>

<%def name="commenting_field(link)">
  <%utils:line_field title="${_('options')}" id="commenting-field"
                     css_class="rounded">
    <div class="delete-field">
      ${checkbox("disable_comments", _("disable comments"), link.disable_comments)}
      <br />
      ${checkbox("sendreplies", _("send comments on my ad to my inbox"), link.sendreplies)}
      <br />
    </div>

    <div class="help infotext rounded">
      <p>${_("Comments are a great way to get feedback from customers, and the reddit community is known for being vocal in comment threads.")}</p>
    </div>
  </%utils:line_field>
</%def>

<%def name="media_field(link)">
  <%utils:line_field title="${_('media')}" id="media-field" css_class="rounded">
    <div class="delete-field">
      <label for="width">Dimensions:</label>&#32;
      <input name="media-width" type='text' size='5' maxsize='5' 
             id="width"
             style="width:auto"
        %if link.media_object:
          value='${link.media_object.get("width", 0)}'
        %else:
          placeholder="${_('width')}"
        %endif
      />
      x
      <input name="media-height" type='text' size='5' maxsize='5'
             style="width:auto"
             %if link.media_object:
               value='${link.media_object.get("height", 0)}'
            %else:
              placeholder="${_('height')}"
            %endif
      />
      <p>
        <label for="media-embed">Embed Code</label>
        <textarea id="media-embed" name="media-embed" rows="7" cols="1">
          %if link.media_object:
            ${link.media_object.get('content','')}
          %endif
        </textarea>
      </p>
      ${checkbox("media-override",
                 _("media override (adds an onclick to the link to generate a drop-down rather than a link out)"),
                 getattr(link, "media_override", False) or False)}
      <br />

    </div>
  </%utils:line_field>
</%def>

<%def name="campaign_dashboard()">
  <div class="pretty-form">
    <%utils:line_field title="${_('campaign dashboard')}" id="campaign-field" css_class="rounded">
      <div id="campaign"
           style="${'display:none' if thing.campaigns else ''}"
           class="campaign infotext rounded"
           method="post" action="/api/add_campaign">

        <input type="hidden" name="link_id36" value="${thing.link._id36}">

        <%
            start_title = _("Date when your sponsored link will start running.  We start new campaigns at midnight UTC+5")
            end_title = _("Date when your sponsored link will end (at midnight UTC+5)")
            targeting_title = _("name of the community that you are targeting. A blank entry here means that the ad is untargeted and will run site-wide ")
            newcamp_title = _("click to create a new campaign.  To edit an existing campaign in the table below, click the 'edit' button.")
         %>

        <table class="preftable">
          <tr>
            <th>${_("start")}</th>
            <td class="prefright">
              <input type="hidden" id="date-min" value="${thing.min_start}">
              <input type="hidden" id="date-start-max" value="${thing.max_start}">
              <input type="hidden" id="date-end-max" value="${thing.max_end}">
              <%self:datepicker name="startdate", value="${thing.default_start}"
                                minDateSrc="date-min" maxDateSrc="date-start-max"
                                initfuncname="init_startdate">
                function(elem) {
                  check_enddate(elem, $("#enddate"));
                  r.sponsored.on_date_change();
                }
              </%self:datepicker>
            </td>
          </tr>
          <tr>
            <th>${_("end")}</th>
            <td class="prefright">
              <%self:datepicker name="enddate", value="${thing.default_end}"
                                minDateSrc="startdate" maxDateSrc="date-end-max"
                                initfuncname="init_enddate" min_date_offset="86400000">
                function(elem) { r.sponsored.on_date_change(); }
              </%self:datepicker>
              ${error_field("BAD_DATE_RANGE", "enddate", "div")}
            </td>
          </tr>

          <tr>
            <th>${_("duration")}</th>
            <td class="prefright duration">
            </td>
          </tr>

          <tr>
            <th>${_("price")}</th>
            <td class="prefright">
              <span class="price-info"></span>
            </td>
          </tr>

          <tr style="${'display:none' if not c.user_is_sponsor else ''}">
            <th>${_("priority")}</th>
            <td class="prefright">
              %for value, text, description, default, override, cpm in thing.priorities:
              <label>
                <input id="${value}" class="nomargin" 
                       type="radio"  value="${value}" name="priority"
                       onclick="r.sponsored.priority_changed()"
                       ${"checked='checked'" if default else ""}
                       data-default="${simplejson.dumps(default)}"
                       data-override="${simplejson.dumps(override)}"
                       data-cpm="${simplejson.dumps(cpm)}">
                       %if description:
                       <span>${"%s (%s)" % (text, description)}</span>
                       %else:
                       <span>${text}</span>
                       %endif
              </label>
              <br />
              %endfor
            </td>
          </tr>

          <tr>
            <th>${_("total budget")}</th>
            <td class="prefright">
              ${error_field("BAD_BID", "bid", "div")}
              ${error_field("BID_LIVE", "bid", "div")}
              $<input id="bid" name="bid" size="7" type="text"
                      class="rounded styled-input"
                      style="width:auto"
                      onchange="r.sponsored.on_bid_change()"
                      onkeyup="r.sponsored.on_bid_change()"
                      value="${'%.2f' % g.default_promote_bid}"
                      data-default_bid="${g.default_promote_bid}"
                      data-min_bid="${thing.min_bid}"
                      data-base_cpm="${thing.author.cpm_selfserve_pennies}"
                      data-geotarget_country_cpm="${g.cpm_selfserve_geotarget_country.pennies}"
                      data-geotarget_metro_cpm="${g.cpm_selfserve_geotarget_metro.pennies}"/>
              <div class="minimum-spend">
                ${_('%(minimum)s minimum') % dict(minimum=format_currency(thing.min_bid, 'USD', locale=c.locale))}
              </div>
              <div class="budget-change-warning error">
                ${_('if you modify the budget of this paid campaign you will need to reauthorize payment by clicking the "pay" button')}
              </div>
            </td>
          </tr>

          <tr>
            <th>${_("impressions")}</th>
            <td class="prefright">
              <input id="impressions" name="impressions" size="10" type="text"
                     class="rounded styled-input"
                     onchange="r.sponsored.on_impression_change()">
              <div class="available-info"></div>
              ${error_field("OVERSOLD_DETAIL", "bid", "div")}
            </td>
          </tr>

          <tr>
            <th>${_("targeting")}</th>
            <td class="prefright">
              <label>
                <input id="no_targeting" class="nomargin" 
                       type="radio"  value="none" name="targeting"
                       onclick="r.sponsored.targeting_off()"
                       checked="checked">
                ${_("frontpage (displayed on the home page to anyone)")}
              </label>
              <br />
              <label>
                <input id="targeting" class="nomargin" 
                       type="radio"  value="one" name="targeting"
                       onclick="r.sponsored.targeting_on()">
                ${_("targeted (targets a subreddit and its subscribers)")}
              </label>

              <div class="targeting" style="display:none">
                ${error_field("OVERSOLD", "sr", "div")}
                ${thing.subreddit_selector}
              </div>
            </td>
          </tr>

          <tr>
            <th>${_("location")}</th>
            <td class="prefright">
              <div class="geotargeting-disabled error" style="display:none">
                ${_("location targeting is only available when targeting the frontpage")}
              </div>
              <div class="geotargeting-selects">
                <select class="geotarget-select" id="country" name="country"
                        title=${_("country")}
                        onchange="r.sponsored.country_changed()">
                  %for code, name, selected in thing.countries:
                  <option ${"selected='selected'" if selected else ""} value=${code}>
                    ${name}
                  </option>
                  %endfor
                </select>
                <select class="geotarget-select" id="region" name="region"
                        title=${_("region")} style="display:none"
                        onchange="r.sponsored.region_changed()"></select>
                <select class="geotarget-select" id="metro" name="metro"
                        title=${_("metro")} style="display:none"
                        onchange="r.sponsored.metro_changed()"></select>
                ${error_field("INVALID_LOCATION", ("country", "region", "metro"), "div")}
              </div>
            </td>
          </tr>
        </table>

        <div class="buttons">
          <input type="hidden" name="campaign_id36" value="">
          <input type="hidden" name="campaign_name" value="">
          <span class="status error"></span>
          <button name="cancel"
                  onclick="return cancel_edit()" class="fancybutton ${'hidden' if not thing.campaigns else ''}">
            ${_("cancel")}
          </button>

          <button name="save"
                  onclick="return post_pseudo_form('.campaign', 'edit_campaign')"
                  class="fancybutton">
            ${_("save")}
          </button>

          <button name="create"
                  onclick="return post_pseudo_form('.campaign', 'edit_campaign')"
                  class="fancybutton">
            ${_("create")}
          </button>
        </div>

        <div class="clear"></div>
      </div>

      <div class="error TOO_MANY_CAMPAIGNS field-title infotext rounded ${'hidden' if len(thing.campaigns) < g.MAX_CAMPAIGNS_PER_LINK else ''}"
           data-MAX="${g.MAX_CAMPAIGNS_PER_LINK}"
           data-CAMP="${len(thing.campaigns)}">
        <p>
          ${_("You have too many campaigns for this link.")}&#32;
          <a href="/promoted/new_promo/">${_("It's time to start fresh!")}</a>
        </p>
      </div>

      <div class="existing-campaigns infotext rounded"
           data-max-campaigns="${g.MAX_CAMPAIGNS_PER_LINK}">
        <table style="${'display:none' if not thing.campaigns else ''}">
          <tr>
            <th title="${start_title}">${_("start")}</th>
            <th title="${end_title}">${_("end")}</th>
            <th>${_("duration")}</th>
            <th style="${'display:none' if not c.user_is_sponsor else ''}">
              ${_("priority")}
            </th>
            <th>${_("total budget")}</th>
            <th>${_("spent")}</th>
            <th title="${targeting_title}">${_("targeting")}</th>
            <th>${_("location")}</th>
            <th style="align:right">
              <button class="new-campaign fancybutton" 
                      ${'disabled="disabled"' if len(thing.campaigns) >= g.MAX_CAMPAIGNS_PER_LINK else ''}
                      title="${newcamp_title}"
                      onclick="return create_campaign()">+ add new</button>
            </th>
          </tr>
          %for camp in thing.campaigns:
            ${camp}
          %endfor
        </table>

        <p class="error"
           style="${'display:none' if thing.campaigns else ''}">
          ${_("You don't have any campaigns for this link yet.  You should add one.")}
        </p>
      </div>

      %if thing.summary:
      <div class="help">
        <div class="infotext rounded">
          <p>
            ${thing.summary}
          </p>
        </div>
      </div>
      %endif

      <span class="freebie error"></span>
    </%utils:line_field>
  </div>
</%def>

<%def name="right_panel()">
  %if c.user_is_sponsor:
    <div class="spacer bidding-history">
      %if thing.bids:
        <%utils:line_field title="${_('bidding history')}" css_class="rounded">
          <table class="bid-table">
            <tr>
              <th>date</th>
              <th>user</th>
              <th>transaction id</th>
              <th>campaign id</th>
              <th>pay id</th>
              <th>bid</th>
              <th>charge</th>
              <th>status</th>
            </tr>
            %for bid in thing.bids:
              <tr class="bid-${bid.status}">
                <td>${bid.date}</td>
                <td>${bid.bidder}</td>
                <td>${bid.transaction}</td>
                <td>${bid.campaign}</td>
                <td>${bid.pay_id}</td>
                <td>${bid.amount_str}</td>
                <td>${bid.charge_str}</td>
                <td class="bid-status">${bid.status}</td>
              </tr>
            %endfor
          </table>
        </%utils:line_field>
      %endif

      <form id="promotion-history" method="post" action="/post/promote_note"
            onsubmit="post_form(this, 'promote_note'); $('#promote_note').val('');return false;">
        <%utils:line_field title="${_('promotion history')}" css_class="rounded">
          <div style="font-size:smaller; margin-bottom: 10px;">
            For correspondence, the email address of this author is&#32;
            <a href="mailto:${thing.author.email}">${thing.author.email}</a>.
          </div>

          <div style="font-size:smaller; margin-bottom: 10px;">
            To check with&#32;<a href="https://account.authorize.net/">authorize.net</a>,
            use CustomerID&#32;<b>${thing.author._fullname}</b>&#32; when searching by batch.
          </div>

          <input type="hidden" name="link" value="${thing.link._fullname}"/>
          <label for="promote_note">add note:</label>
          <input id="promote_note" name="note" value="" type="text" size="40" />
          <button type="submit">save</button>
          <div class="notes">
            %for line in thing.promotion_log:
              <p>${line}</p>
            %endfor
          </div>
        </%utils:line_field>
      </form>
    </div>
  %endif
</%def>
