## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2009
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%!
  from r2.lib.utils import to36
%>
<%namespace file="utils.html" import="plain_link"/>
<%namespace file="printablebuttons.html" import="ynbutton"/>


<div>
  <h1>${_('current promotions')}</h1>
  
  <ul class="promoted-list">
    %for t in thing.things:
      <li class="entry">
        ${plain_link(t.title,'/promote/edit_promo/%s' % to36(t._id))}&nbsp;
        %if t.promote_until:
            ${(_("(until %(until)s)")
              % dict(until = t.promote_until.strftime(thing.datefmt)))}
            &nbsp;
        %endif
        <ul class="buttons" style="display: inline;">
          <li>
            ${ynbutton(_("unpromote"), _("unpromoted"),
                "unpromote", hidden_data = dict(id=t._fullname))}
          </li>
        </ul>
      </li>
    %endfor
  </ul>

  %if thing.recent:
  <h1>${_('promotions this month')}</h1>
  
  <table class="traffic-table">
    <tr>
      <th colspan="2">Impresions</th>
      <th colspan="2">Clicks</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>unique</th>
      <th>total</th>
      <th>unique</th>
      <th>total</th>
      <th>points</th>
      <th>title</th>
    </tr>
    %for link, uimp, nimp, ucli, ncli in thing.recent:
    <tr>
      <td>${uimp}</td>
      <td>${nimp}</td>
      <td>${ucli}</td>
      <td>${ncli}</td>
      <td>${link._ups - link._downs}</td>
      <td>
        <a class="title" href="${link.permalink}">${link.title}</a>
      </td>
    </tr>
    %endfor
  </table>
  %endif
</div>
