## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<% from r2.lib.template_helpers import static %>

<div class="interstitial">
  <img class="interstitial-image" src="${static('interstitial-image-quarantine.png')}" alt="" height="150" width="150" />

  <div class="interstitial-message md-container">
    <div class="md">
      %if thing.logged_in and thing.email_verified:
        <h3>${_("Are you sure you want to view this community?")}</h3>

        <p>${_("Communities that are dedicated to distasteful and highly offensive content are quarantined. Content in this community may be shocking or upsetting; are you certain you want to continue?")}</p>
      %elif thing.logged_in:
        <h3>${_("You must have a verified email to view this community")}</h3>

        <p>${_("Communities that are dedicated to distasteful and highly offensive content are quarantined.")}</p>
      %else:
        <h3>${_("You must log in and have a verified email to view this community")}</h3>

        <p>${_("Communities that are dedicated to distasteful and highly offensive content are quarantined.")}</p>
      %endif
    </div>
  </div>
  
    <form method="post" action=""
        ${"target='_top'" if c.cname else ""}>
      <input type="hidden" name="uh" value="${c.modhash}" />
      <input type="hidden" name="sr_name" value="${thing.sr_name}" />    
      <div class="buttons">
        %if thing.logged_in and thing.email_verified:
          <button class="c-btn c-btn-primary" type="submit" name="accept" value="no">
            ${_("no thank you")}
          </button>
          <button class="c-btn c-btn-primary" type="submit" name="accept" value="yes">
            ${_("continue")}
          </button>
        %else:
          <button class="c-btn c-btn-primary" type="submit" name="accept" value="no">
            ${_("back to reddit")}
          </button>
        %endif
      </div>
    </form>
</div>

