<%inherit file="ratelimit_base.html"/>

<p>reddit's awesome and all, but you may have a bit of a
problem. we've seen far too many requests come from your ip address
recently.</p>
<p>if you think that we've incorrectly blocked you or you would like
to discuss easier ways to get the data you want, please contact us
any of the following ways.</p>
<ul>
<li><a href="http://webchat.freenode.net/?channels=reddit-ratelimit">#reddit-ratelimit on freenode</a></li>
<li><a href="http://groups.google.com/group/reddit-dev">the reddit-dev google group</a></li>
<li><a href="mailto:ratelimit@reddit.com">ratelimit@reddit.com</a></li>
</ul>
<p>when contacting us, please include your ip address which is: <strong>${request.ip}</strong></p>
