## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2012
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.models.subreddit import DefaultSR
   from r2.lib.template_helpers import add_sr, static
%>

<%def name="search_faq()">
  <div id="moresearchinfo">
  <p>use the following search parameters to narrow your results:</p>

  <dl>
      <dt>reddit:{name}</dt>
      <dd>${_('find things posted in {name} only')}</dd>
      <dt>author:{username}</dt>
      <dd>${_('return things submitted by {username} only')}</dd>
      <dt>site:{domain}</dt>
      <dd>${_('get links to pages on {domain} only')}</dd>
      <dt>url:{text}</dt>
      <dd>${_('search for {text} in url')}</dd>
      <dt>selftext:{text}</dt>
      <dd>${_('search for {text} in self post contents')}</dd>
      <dt>self:{yes|no}</dt>
      <dd>${_('include or exclude self posts')}</dd>
      <dt>nsfw:{yes|no}</dt>
      <dd>${_('include or exclude nsfw results')}</dd>
  </dl>

  <p>e.g. <code>reddit:pics site:imgur.com dog</code></p>
  <p><a href="http://www.reddit.com/help/search">${_('see the search faq for details.')}</a></p>
  </div>

  <p><a href="http://www.reddit.com/help/search" id="search_showmore">${_('advanced search: by author, community...')}</a></p>
</%def>

<form action="${add_sr('/search')}" id="search">
  <input type="text" 
         %if thing.prev_search:
           value="${thing.prev_search}" style="color:black"
         %endif
         name="q" placeholder="${_('search reddit')}" />
  %if thing.subreddit_search:
    
  %elif thing.simple:
  <div id="searchexpando" class="infobar">
      % if not isinstance(c.site, DefaultSR):
      <label><input type="checkbox" name="restrict_sr" />${_('limit my search to %(path)s') % dict(path=c.site.path.rstrip('/'))}</label>
      % endif

      ${search_faq()}
  </div>
  %else:
    %if not thing.site or isinstance(thing.site, DefaultSR):
      <input type="hidden" name="restrict_sr" value="off" />
    %else:
      <br /><br />
      <label><input type="checkbox" ${'checked="checked"' if thing.restrict_sr else ''} name="restrict_sr" />
      ${_('limit my search to %(path)s') % dict(path=thing.site.path.rstrip('/'))}</label>
    %endif
    ${search_faq()}
    <input type="submit" value="${_('search reddit')}" />
  %endif

  %for k, v in thing.search_params.iteritems():
    <input type="hidden" name="${k}" value="${v}" />
  %endfor
</form>
