## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2014
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
import math
from babel.numbers import format_currency, format_number
from pylons import g, c
from r2.lib.pages import Feedback
from r2.lib.template_helpers import static
from decimal import Decimal
%>

<div class="self-service instructions">
    <!-- 	Outer column container, for CSS control (If the need arises) -->
    <div class="column-container">
        <h1 class="redditad-header">reddit advertising</h1>
        <div class="left-col column">
            <div class="col-trigger">
                <img src="${static('selfserve_ads/col1.png')}" width="220px" height="128px" alt="" class="image"/>

                <h2>Reach your audience</h2>
                <p>Amplify your message to reddit’s 113 MM users through &#32;<a href="/promoted/new_promo/">promoted posts</a>, and reach your audience by targeting subreddits (communities of reddit users) that are relevant to your campaign. </p>
                
                <a href="/wiki/selfserve#wiki_how_do_i_find_the_best_subreddits_for_my_campaign_targeting.3F">Tips for finding the best subreddit city-targeting</a>
            </div>
        </div>
        <div class="center-col-1 column">
            <div class="col-trigger">
                <img src="${static('selfserve_ads/col2.png')}" width="220px" height="128px" alt="" class="image"/>

                <h2>Manage your budget</h2>
                <%
                formatted_min_promote_bid = format_currency(g.min_promote_bid, 'USD', locale=c.locale)
                min_pageviews = Decimal(g.min_promote_bid) / g.cpm_selfserve.decimal * 1000
                rounded_min_pageviews = math.floor(min_pageviews / 1000) * 1000
                formatted_min_pageviews = format_number(rounded_min_pageviews, locale=c.locale)
                %>
                <p>reddit ads start at ${formatted_min_promote_bid} per campaign, at a ${format_currency(g.cpm_selfserve.decimal, 'USD', locale=c.locale)} CPM rate. In other words, for as little as ${formatted_min_promote_bid} your ad appears 
                %if min_pageviews != rounded_min_pageviews:
                    more than
                %endif
                ${formatted_min_pageviews} times in any reddit page you like. You control how many more times you’d like your ad to appear on reddit. </p>
                
                <a href="/wiki/selfserve#wiki_how_much_does_it_cost.3F">More on managing your budget</a>
            </div>
        </div>
        <div class="center-col-2 column">
            <div class="col-trigger">
                <img src="${static('selfserve_ads/col3.png')}" width="220px" height="128px" alt="" class="image"/>

                <h2>Connect with customers</h2>
                <p>Sponsored posts include a &ldquo;comments&rdquo; section, allowing advertisers to chat with redditors that have questions and comments about their ads in real-time. Add value to your ad by answering questions your target consumer has about your campaign!</p>

                <a href="/wiki/selfserve#wiki_what_are_the_best_practices_for_reddit_advertising.3F">Best practices recommendations for reddit advertising</a>
            </div>
        </div>
        <div class="right-col column">
            <div class="col-trigger">
                <img src="${static('selfserve_ads/col4.png')}" width="220px" height="128px" alt="" class="image"/>

                <h2>Track your success</h2>
                <p>reddit creates a custom traffic page for every sponsored ad created, demonstrating hourly delivery stats &amp; graphs for you to best measure the success of your campaign. This delivery reporting can be downloaded to a csv file for your records.</p>

                <a href="/wiki/selfserve#wiki_how_is_my_ad_performing.3F">Tracking how your ad is performing</a>
            </div>
        </div>

        <div style="clear:both;"></div>
        <div class="col-bottom-box">
            <div class="ad-launch-buttons">
                <a href="/promoted/new_promo" class="create-ad-button button">Create an ad</a>
                <a href="/promoted" class="manage-ads">manage existing ads</a>
            </div>
            <p>
                For questions about our advertising platform, check out the platform’s&#32;<a href="/wiki/selfserve">FAQ</a>, or&#32; <a href="mailto:selfservicesupport@reddit.com?subject=Questions about reddit advertising">email customer support</a>.
                <br/>
                For large-scale advertising opportunities, &#32;<a href="mailto:marketing@reddit.com?subject=campaign%20inquiry">email our sales team!</a>.
                <br/>
                New to reddit advertising? &#32;<a href="http://www.redditstatic.com/ads/reddit-Advertising-Manual.pdf" download="reddit Advertising Manual.pdf">Download the quick start manual here.</a>
            </p>
            <div style="clear:both;"></div>
        </div>
        <div class="" id="testimonial-parent">
            <div class="testimonial-title">see what people are saying</div>
            <div class="testimonial-col">
                <div class="testimonial">
                    <q>We&#39;re looking forward to continuing our experiment with reddit advertising -- In less than a month we&#39;re seeing better responses, statistics and engagement from the reddit community. We&#39;re looking forward to making more of an investment going forward.</q>
                    <cite>-Kate Gardiner, Director, Social Media &amp; Audience Engagement, &#32;<a href="http://www.newsweek.com/" target="blank" rel="nofollow">Newsweek</a></cite>
                </div>

                <div class="testimonial">
                    <q>reddit has been far and away both the most effective and cost-effective tool we&#39;ve tried for driving traffic to our site.</q>
                    <cite>-Brian Krieger, CEO,&#32;<a href="http://www.minnalife.com/" target="blank" rel="nofollow">Minna Life</a></cite>
                </div>

                <div class="testimonial">
                    <q>At a .75 cpm reddit ads are a complete steal, and are also unique among ads. They&#39;re not FB ads, which are obnoxious, and they&#39;re not Google Adwords or context-based ads, because they have pictures and you get to choose the context--and join in the conversation. People can comment, and you as a company can comment back, which really puts the &ldquo;direct&rdquo; in direct advertising. They are like native ads, before those were cool.</q>
                    <cite>-Samier Saeed, Developer,&#32;<a href="https://trubrain.com/" target="blank" rel="nofollow">truBrain</a></cite>
                </div>

                <div class="testimonial">
                    <q>reddit advertising is very simple to set up, to the extent that it makes you wonder what the Google AdWords people are smoking.</q>
                    <cite>-Cliff Harris, Owner/Director,&#32;<a href="http://www.positech.co.uk/" target="blank" rel="nofollow">Positech Games</a></cite>
                </div>
            </div>
            <div class="testimonial-col">
                <div class="testimonial">
                    <q>If you have a target market that overlaps heavily with the users of a subreddit, then there&#39;s probably no more efficient way to reach that market than advertising on reddit. If your ad is genuine and you&#39;re providing real value, you&#39;ll get a very positive response.</q>
                    <cite>-Jeremy Scheff, Owner,&#32;<a href="http://basketball-gm.com/" target="blank" rel="nofollow">Basketball GM</a></cite>
                </div>

                <div class="testimonial">
                    <q>I think promoting on reddit is a worthwhile investment for anyone looking to get recognition and sales. reddit gives you almost an unparalleled ability to target exactly who your market is.</q>
                    <cite>-Nick DeMao, Owner,&#32;<a href="https://www.etsy.com/shop/WoodEyesWoodworks/about?ref=announce" target="blank" rel="nofollow">WoodEyesWoodworks</a></cite>
                </div>

                <div class="testimonial">
                    <q>We&#39;ve run reddit ad campaigns for several clients and have found that these ads have proven to be a relatively inexpensive way to drive higher quality, engaged traffic to your site as well as gain a unique insight into the thoughts, questions, and concerns that your potential customers may have.</q>
                    <cite>-Adam Hodson, President, &#32;<a href="http://www.bricksandmortarweb.com/" target="blank" rel="nofollow">Bricks &amp; Mortar Creative</a></cite>
                </div>

                <div class="testimonial">
                    <q>The ads were extremely easy to setup and we loved the discussion our ad generated with our targeted sub board. It not only increased sales, but was a channel for valuable feedback from our consumers. </q>
                    <cite>-Casey Allen , Co-Founder,&#32;<a href="http://www.huntgathersnack.com/" target="blank" rel="nofollow">Hunt.Gather.Snack.</a></cite>
                </div>
            </div>

        </div>
    </div>
</div>
 
