## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%!
        from r2.lib.utils import lstrips
%>

<%
     cpu_col = 75.
     mem_col = 40.
 %>
 
<div class="server-status">
  <h3>Rendered by PID ${g.reddit_pid} on ${g.reddit_host}</h3>
  <table>
    <tr> 
      <th>process</th>
      <th>memory</th>
      <th>
        <span style="color:green">1 min</span> / 
        <span style="color:red">5 min</span>
      </th>
      <th></th>
    </tr>
    <tr> 
      <td></td>
      <td><div class="bar" style="width:${mem_col}px;"></div></td>
      <td><div class="bar" style="width:${cpu_col}px;"></div></td>
      <td></td>
    </tr> 
    
    %for s in thing.services:
    <%
       host = s._host
       services = s.get_cache() or []
       services.sort(lambda x, y: 1 if x['name'] > y['name'] else -1)
       load = s.load
       load_level = min(max(int(load+0.5), 0),5)
    %>
    <tr class="load${load_level}">
      <td>
        <b>
          ${host} load: ${load}
        </b>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    %for service in services:
    <%
       pegged = all([service['cpu_' + str(x)] > 99 for x in (0, 5, 60, 300)]) or \
             (service.get('mem', 0)  >= 20)
       pegged = "pegged" if pegged else ""

       mem_wid = int(mem_col/25*min(25, int(service.get('mem',0))))
       cpu_60_wid  = int(cpu_col/100*min(100,int(service['cpu_60'])))
       cpu_300_wid = int(cpu_col/100*min(100,int(service['cpu_300'])))
     %>
  
    <tr class="load${load_level} ${pegged}">
      <td>
        %if g.reddit_host == host and g.reddit_pid == service['pid']:
          <b style="color:orangered; font-size:larger">&raquo;</b>
        %else:
          &nbsp;
        %endif
        ${lstrips(service['name'], "/service/")}
      </td>
      <td>
        <div class="membar" style="width:${mem_wid}px;"></div>
      </td>
      <td>
        <div class="cpu50" style="width:${cpu_60_wid}px;"></div>
        <div class="cpu300" style="width:${cpu_300_wid}px;"></div>
      </td>
      <td>
        <%
           age = service.get('age', 0)
           if isinstance(age, str):
              age = 0
           if age > 60:
              age = "%d hr" % int(age/60)
           else:
              age = "%d min" % age
         %>
        ${age}
      </td>
    </tr>
        %endfor
    %endfor
  </table>
</div>
