## "The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<html>
  <head>
    <title>How are those pesky PIDs doing?</title>
    <link rel='stylesheet' href="http://reddit.com/static/styles.css" type="text/css" />
  </head>
  <body>
    <table cellpadding="5" cellspacing="2">
      <tr> 
        <th>host</th>
        <th>name</th>
        <th>pid</th>
        <th>now</th>
        <th>5 sec</th>
        <th>1 min</th>
        <th>5 min</th>
	<th><span style="color:green">5 sec</span> / <span style="color:red">1 min</span></th>
      </tr>
      <tr> 
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><div style="height:5px; width:100px;background-color:blue;"></div></td>
      </tr> 
      
      %for s in thing.services:
      <%
       services = s.get_cache() or []
       services.sort(lambda x, y: 1 if x['name'] > y['name'] else -1)
      %>
      %for service in services:
      <tr>
	<td>
	  ${service['host']}
	</td>
	<td>
	  ${service['name']}
	</td>
	<td>
	  ${service['pid']}
	</td>
	%for x in (0, 5, 60, 300):
	<td>
	  ${"%5.2f%%" % service['cpu_' + str(x)]}
	</td>
	%endfor
	<td>
	  <div style="height:5px; width:${int(service['cpu_5'])}px;background-color:green;"></div>
	  <div style="height:5px; width:${int(service['cpu_60'])}px;background-color:red;"></div>
	</td>
      </tr>
      %endfor
      %endfor
    </table>
  </body>
</html>

