<div class="instructions socialite">
    
<h1>install Socialite, a reddit Firefox extension</h1>

<p class="logotext">
  <img src="/static/socialite/socialite.png" alt="Socialite logo" class="logo"/>
  Socialite integrates the features of reddit into Firefox.
</p>

<p class="logoclear">
  When you click on links on reddit, Socialite displays a toolbar above the page, allowing you to vote articles up and down, view comments, and save links to your profile.  Features include:
</p>

<div class="features">
  <p class="buttonclear">
    <a class="installbutton" href="https://addons.reddit.com/socialite/socialite.xpi">
      <span>Add to Firefox</span>
    </a>
  </p>
  
  <ul>
    <li>simple like reddit</li>
    <li>vote, save, and hide links using the toolbar</li>
    <li>look up sites on reddit with a single click</li>
    <li>meditate on those clever titles without leaving the page</li>
  </ul>
</div>

<h2>how to use it</h2>

<p>
  Socialite will display a toolbar automatically when you click on reddit links.</p>
<p class="screenshot">
  <img src="/static/socialite/demopic.png" alt="Socialite screenshot"/>
</p>

<p>
  In addition, you can open the bar manually by clicking on the reddit
  icon on the right side of your location bar:
</p>

<p class="screenshot">
  <img src="/static/socialite/losbutton.png" alt="lookup-or-submit button"/>
</p>

<p>
  If the page is not submitted to reddit, or you click again, a submit
  bar will appear:
</p>

<p class="screenshot">
  <img src="/static/socialite/submitpic.png" alt="submit bar screenshot"/>
</p>

<p>
  (<b>HINT:</b>&#32;if you want to skip straight to the submit bar,
  middle-click on the reddit icon.)
</p>


<h2>Configuration</h2>

<p>
  you can configure what buttons are displayed in the toolbar in the
  extensions preferences:
</p>

<p  class="screenshot">
  <img src="/static/socialite/siteproperties.png" alt="site properties window screenshot"/>
</p>

<h2>configure for other reddit sites</h2>
<p>
  Since reddit lets you
  &#32;<a href="http://blog.reddit.com/2008/08/now-you-can-restyle-and-host-your.html">
  host reddits from other domains</a>, like
  &#32;<a href="http://www.baconbuzz.com/">BaconBuzz</a>, Socialite will also let you edit the list of domains that it works for.
</p>
<p  class="screenshot">
  <img src="/static/socialite/sitepreferences.png" 
       alt="preferences window screenshot"/>
</p>

</div>
