## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2012
## reddit Inc. All Rights Reserved.
###############################################################################

%if c.site.sponsorship_url and c.site.sponsorship_img:
<%
   from r2.models.subreddit import FakeSubreddit
   from r2.lib.template_helpers import s3_https_if_secure
   name = c.site._fullname
%>
<div class="thing sponsorshipbox id-${name}" data-fullname="${name}" data-sponsorship="${c.site.sponsorship_name}">
  <span>${c.site.sponsorship_text}</span>
  <div>
    <a class="title" href="${c.site.sponsorship_url}">
    <%
        if not hasattr(c.site, 'sponsorship_size'):
            size_str = ''
        else:
            size_str = "width='%d' height='%d'" % (c.site.sponsorship_size[0], c.site.sponsorship_size[1])
    %>
       <img alt="sponsor" ${size_str} src="${s3_https_if_secure(c.site.sponsorship_img)}" />
    </a>
  </div>
</div>
%endif
