<%
  import simplejson
 %>
<script type="text/javascript">
  var likes = ${unsafe(simplejson.dumps(thing.likes))};
  var dislikes = ${unsafe(simplejson.dumps(thing.dislikes))};
  var friends = ${unsafe(simplejson.dumps(list(thing.is_friend)))};
  $.map(likes, function(l) {
            $(".id-" + l + " > .midcol").find(".arrow.up").vote("", null, null, true);
        });
  $.map(dislikes, function(l) {
            $(".id-" + l + " > .midcol").find(".arrow.down").vote("", null, null, true);
        });
  $.map(friends, show_friend);

</script>
