## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2009
## CondeNet, Inc. All Rights Reserved.
################################################################################
I've added you to the access list for editing ${thing.en_name} (${thing.lang_name}) on our staging machine:

http://${g.domain}/

%if g.translator_username and g.translator_password:
The user name to get past the web server is "${g.translator_username}" and the pw is "${g.translator_password}" (without quotes in both cases, and with spaces for the latter). 
%endif
If that works as expected, you should be confronted by a site which looks exactly like reddit.com. 
Log into reddit with your existing username (${thing.user.name}) and password, and you should be able to go to this link without a 404:

http://${g.domain}/admin/i18n/edit/${thing.locale}

Specific things to be aware of:

 * Save often.  The operation should be pretty cheap for the webserver if a little taxing to your browser. 
 * If you get a blank page at any point after submitting, please let me know -- that means something has gone wrong! 
 * Strings in orange have to carry over untranslated into the translated string.  These are python formatting placeholders for text that will probably be untranslated or translated separately.
 * Hitting "try translation" will compile the translation file and should pop open a translated version of the site which should reflect your latest pass of translations.  If you hit instead "try translation with numbers", it will do the same thing except it will also add a numeric placeholder to each translation that matches the list 

Let me know if the context of the phrases is unclear.  Also let me know if there is no way to (unawkwardly) translate a string.  I've tried to remove as many grammar restrictions as possible in longer strings, but I'm sure there could still be some incompatibilities.

No worries about grammar either: the point of adding the preview option is to check to see if it looks/reads correctly to a native speaker.  There's a lot to translate, so feel free to pick at it as you have the time.  Also, I'd recommend doing the longer (multiline) strings last. There is some flakiness with those that I've had a heck of a time tracking down.

Thanks for doing this, and let me know if any problems/suggestions come up.


