## "The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

##<h1>awards</h1>
##<table class='stats'>
##<tr><td></td><th>today</th></tr>
###for a in $awards
##    #set u = $user_objs[a["uid"]]
##    <tr><td class='ri' style="padding-right: 10px">$a['award']</td><td class='k'><a href="/user/$u.name/">$u.name</a> ($sanekarma($u.pop))</td></tr>
###end for
##</table>
###end if

<h1>${_("biggest karma gainers")}</h1>

<table class="stats">
  <tr><th colspan="2">${_("today")}</th></tr>
  %for user, change in thing.top_day:
    <tr>
      <td class="k"><a href="/user/${user.name}/">${user.name}</a> (${user.link_karma})</td>
      <td class="ri">+${change}</td>
    </tr>
  %endfor
</table>

<table class="stats">
  <tr><th colspan="2">${_("this week")}</th></tr>
  %for user, change in thing.top_week:
  <tr>
    <td class="k"><a href="/user/${user.name}/">${user.name}</a> (${user.link_karma})</td>
    <td class="ri">+${change}</td>
  </tr>
  %endfor
</table>

<table class="stats">
  <tr><th colspan="2">${_("all-time")}</th></tr>
  %for user in thing.top_users:
    <tr>
      <td class="k"><a href="/user/${user.name}/">${user.name}</a> (${user.link_karma})</td>
    </tr>
  %endfor
</table>
